*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
  background-color: #fcfcfc;
  
/* }
h1
h2
h3
h4
h5
h6{

}
a{
  text-decoration: none;
  color: unset;

}
section{
  padding: 30px 0px;
} */ 
